
<ion-content>
    <ion-card *ngFor="let post of posts" margin-bottom>
        <ion-card-header class="username">{{post.post.ownerUsername}}</ion-card-header>
        <ion-card-content>
            {{post.post.body}}
        </ion-card-content>
        <ion-item-divider></ion-item-divider>
        <h6 text-center>{{'#' + post.post.city.name}}</h6>
        <ion-button expand="block" slot="end">Davet Yolla</ion-button>

    </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="uploadPost()">
        <ion-icon name="md-add"></ion-icon>
    </ion-fab-button>
</ion-fab>
